<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<head>
	<meta charset="UTF-8">
	<title>Aventure</title>
</head>
<body>
	<div ng-app="webHerosApp" ng-controller="webHerosCtrl"> 
		<h1>Vous naviguez dans l'aventure {{aventureName}}</h1>
		
		<div ng-show="showSituationText">
			<h3>{{situation.text}}</h3>
		</div>
		<br>
		
		</div ng-show="showChoicesList">
			<ul>
				<li ng-repeat="c in situation.choixList">
					<button ng-click="selectChoice('c.num')">{{c.text}}</button>
				</li>
			</ul>
		</div>
		<br>
		
		<div ng-show="showAddSituation">
			<a href="/AjoutSitutation.html">Ajouter une situation</a>
		</div>
		
		<div ng-show="showVoteButtons">
			<button ng-click="doClick('upVote')">Up Vote</button>
			<button ng-click="doClick('downVote')">Down vote</button>
		</div>
		
		<a href="/index.html">Accueil</a>
		
		<div ng-show="showMessage">
			{{message}}
		</div>
	</div>
	
<script>
function initVars(scope) {
	scope.situation = new Object();//Not sure
	scope.user = new Object();
	//scope.aventure = new Object();
	scope.message = "___";
	scope.aventureName = "Loading...";
}
function initView(scope) {
	scope.showSituationText = true;
	scope.showChoicesList = true;
	scope.showAddSituation = false;
	scope.showMessage = false;
}
function initAventure(scope, http){
	http.get("rest/getAventureName").then(function(response) {
		if (response.status == 200) {
			scope.aventureName = response.data.aventureName;
		} else {
			scope.message = "Failed to get aventure name";
			scope.showMessage = true;
		}
	});
}

function initSituation(scope, http){
	http.get("rest/getSituation").then(function(response) {
		if (response.status == 200) {
			scope.aventureName = response.data.aventureName;
		} else {
			scope.message = "Failed to get aventure name";
			scope.showMessage = true;
		}
	});
}

function doClick(action, scope, http){
	//Add disable button when clicked or already voted
	switch(action){
		case "upVote":
			console.log("upVote clicked");
			break;
		case "downVote":
			console.log("downVote clicked");
			break;
	}
}

function selectChoice(idChoice, scope, http) {
	initView(scope);
	initVars(scope);
	console.log("Choice "+idChoice+" selected");
	//Envoyer requette http get pour modifier la situation et l'affichage
}


var app = angular.module('webHerosApp', []);
app.controller('webHerosCtrl', function($scope,$http) {
	initVars($scope);
 	initView($scope);
 	initAventure($scope, $http);
    $scope.doChoice=function(idChoice) {selectChoice(idChoice,$scope,$http);}
    $scope.doClick=function(action) {click(action, $scope, $http);}
});
	
</script>
</body>
</html>